:root {
    font-family: "Helvetica";
    scroll-behavior: smooth;
    --color-dark: #000000;
    --color-light: #ffffff;
    --site-padding: 108px;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary: var(--color-dark);
        --secondary: var(--color-light);
        --secondary-transp: rgba(255, 255, 255, 0.4);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--color-light);
        --secondary: var(--color-dark);
        --secondary-transp: rgba(0, 0, 0, 0.4);
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}

p {
    margin:0;
    margin-top: 6px;
    font-size: 20px;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    color: var(--secondary);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}

h1 {
    padding:0;
    margin:0;
    font-size: 36px;
    color: var(--primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-col {
    flex-direction: column;
}

.container-row {
    flex-direction: row;
}

.container-text {
    align-items: flex-start;
    justify-content: flex-start;
}

.linkbutton {
    font-size: 20px;
    text-shadow: var(--primary);

    color: var(--primary);
    -webkit-text-stroke-color: var(--secondary);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

.linkbutton:hover {
    color: var(--secondary);
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    filter: drop-shadow(-2px 2px var(--primary));
    -webkit-filter: drop-shadow(-2px 2px var(--primary));
    transform: translate(2px, -2px);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

.navbar {
    position: sticky;
    top: 0;
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 9;
}

.navbar--colors-main {
    /* background-color: var(--secondary-transp);
    backdrop-filter: blur(8px); */
    color: var(--secondary);
}

.navbar--colors-sub {
    background-color: var(--secondary);
}

.section-container {
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
    padding-bottom: 64px;
}

#navbar-main {
    position: fixed;
    width: 100%;
}

#navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    gap: 36px;
}

#hero-image {
    background-image: url(images/olympia1.jpeg);
    background-size: cover;
    height: 100vh;
}

#dummy-h1 {
    opacity: 0;
}

#content-section1 {
    margin-top: 4px;
    align-items: stretch;
    max-height: 86vh;
    gap: 16px;
}

#content-section2 {
    align-items: flex-start;
    gap: 16px;
}

#footer {
    background-color: var(--primary);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
}

#footer > div > p {
    color: var(--secondary);
}

.image-container {
    background-color: var(--primary);
    transition: transform 200ms;
    position: relative;
}

.image-container > p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.image-container:hover {
    transform: translate(4px, -4px);
    transition: transform 200ms;
    transition: filter 200ms;
    -webkit-transition: -webkit-filter 200ms;

    filter: drop-shadow(-4px 4px var(--primary));
    -webkit-filter: drop-shadow(-4px 4px var(--primary));
}

.image-object {
    width: 100%;
    max-height: 86vh;
}

.image-text {
    color: var(--color-light);
    font-size: 36px;
    font-style: italic;
    text-transform: uppercase;
    rotate: -12deg;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container:hover > p {
    paint-order: stroke fill;
    filter: drop-shadow(-4px 4px var(--color-dark));
    -webkit-filter: drop-shadow(-4px 4px var(--color-dark));
    /* transform: translate(4px, -4px); */
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

#avatar {
    border-radius: 50%;
    background-image: url(images/avatar.png);
    background-size: cover;
    height: 30vh;
    aspect-ratio: 1;
    min-height: 32px;
}

#socials-container {
    justify-content: space-around;
}

#container-avatar-socials {
    gap: 32px;
    align-items: stretch;
}

.social-icon {
    color: var(--primary);
}

.social-icon:hover {
    color: var(--secondary);
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    filter: drop-shadow(-2px 2px var(--primary));
    -webkit-filter: drop-shadow(-2px 2px var(--primary));
    transform: translate(2px, -2px);

    stroke-width: 2px;
    stroke-color: var(--primary);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}