:root {
    font-family: "Helvetica";
    scroll-behavior: smooth;
    --color-dark: #000000;
    --color-light: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary: var(--color-dark);
        --secondary: var(--color-light);
        --secondary-transp: rgba(255, 255, 255, 0.4);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--color-light);
        --secondary: var(--color-dark);
        --secondary-transp: rgba(0, 0, 0, 0.4);
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}

p {
    margin:0;
    margin-top: 6px;
    font-size: 24px;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    color: var(--secondary);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}

h1 {
    padding:0;
    margin:0;
    font-size: 36px;
    color: var(--primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-col {
    flex-direction: column;
}

.container-row {
    flex-direction: row;
}

.container-text {
    align-items: flex-start;
    justify-content: flex-start;
}

.linkbutton {
    font-size: 24px;
    text-shadow: var(--primary);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

.linkbutton:hover {
    color: var(--secondary);
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    filter: drop-shadow(-2px 2px var(--primary));
    -webkit-filter: drop-shadow(-2px 2px var(--primary));
    transform: translate(2px, -2px);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

.navbar {
    position: sticky;
    top: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 9;
}

.navbar--colors-main {
    background-color: var(--secondary-transp);
    backdrop-filter: blur(8px);
}

.navbar--colors-sub {
    background-color: var(--secondary);
}

.section-container {
    padding-left: 32px;
    padding-right: 32px;
}

#navbar-main {
    position: fixed;
    width: 100%;
}

#navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    gap: 36px;
}

#hero-image {
    background-image: url(images/olympia1.jpeg);
    background-size: cover;
    height: 100vh;
}

#dummy-h1 {
    opacity: 0;
}

#content-section1 {
    margin-top: 4px;
}

.image-container {
    background-color: var(--primary);
    background-size: cover;
    height: 80vh;
    aspect-ratio: 0.67;

    transition: transform 200ms;

    justify-content: space-around;
}

.image-container:hover {
    transform: translate(4px, -4px);
    transition: transform 200ms;
    transition: filter 200ms;
    -webkit-transition: -webkit-filter 200ms;

    filter: drop-shadow(-4px 4px var(--primary));
    -webkit-filter: drop-shadow(-4px 4px var(--primary));
}

.image-text {
    color: var(--color-light);
    font-size: 36px;
    rotate: -12deg;
    font-style: italic;
    text-transform: uppercase;
}

.image-container:hover > p {
    paint-order: stroke fill;
    filter: drop-shadow(-4px 4px var(--color-dark));
    -webkit-filter: drop-shadow(-4px 4px var(--color-dark));
    transform: translate(4px, -4px);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

#avatar {
    border-radius: 50%;
    background-image: url(images/avatar.png);
    background-size: cover;
    height: 30vh;
    aspect-ratio: 1;
    min-height: 32px;
}

#socials-container {
    justify-content: space-around;
}

#container-avatar-socials {
    gap: 32px;
    align-items: stretch;
}

.social-icon {
    color: red;
}

.social-icon:hover {
    color: var(--secondary);
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    filter: drop-shadow(-2px 2px var(--primary));
    -webkit-filter: drop-shadow(-2px 2px var(--primary));
    transform: translate(2px, -2px);
    
    transition: color 200ms;
    transition: filter 200ms;
    transition: transform 200ms;
    -webkit-transition: -webkit-filter 200ms;
}